<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService1" />
                <binding name="OrderStatusServiceBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="OrderStatusServiceBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52578/Service1.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService1" contract="OrderStatusReference.IService1"
                name="BasicHttpBinding_IService1" />
            <endpoint address="https://services.starline.com/orderstatusservice/CustomerOrderStatusService.svc"
                binding="basicHttpBinding" bindingConfiguration="OrderStatusServiceBinding"
                contract="StarLineReference.OrderStatusService" name="OrderStatusServiceBinding" />
        </client>
    </system.serviceModel>
</configuration>